@mixin mobile {
  @media (max-width: 740px) {
    @content;
  }
}

.emptyContent {
  height: 220px;

  @include mobile {
    height: calc(100% - 40px);
  }
}

.message {
  @include mobile {
    height: 100%;
  }
}

.orderContainer {
  @include mobile {
    height: 100%;
  }
}

.content {
  height: 300px;
  overflow-y: scroll;
  padding: 10px 0;

  @include mobile {
    height: 65%;
  }
}

.orderDetail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 14px;

  @include mobile {
    width: 100%;
  }
}

.edit {
  width: 17%;
  cursor: pointer;
}

.orderDescription {
  width: 81%;
}

.customer {
  max-width: 90px;
  display: inline-block;
}

.name {
  width: calc(100% - 90px);
  display: inline-block;
}

.notes {
  width: calc(100% - 120px);
  display: inline-block;
}

.successText {
  font-size: 24px;
}

.counter {
  font-size: 14px;
}

.successContent {
  height: 200px;

  @include mobile {
    height: calc(100% - 40px);
  }
}

.unsendFinishOrder {
  width: 200px;
  margin: 10px 0;
}
