@mixin mobile {
  @media (max-width: 740px) {
    @content;
  }
}

.select {
  width: 50px;
  height: 30px;
}

.notesArea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

.editContainer {
  @include mobile {
    position: relative;
  }
}

.deleteAlert {
  position: absolute;
  width: 390px;
  background: #fff;
  height: 380px;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  @include mobile {
    width: 100%;
  }
}

.deleteText {
  padding: 50px;
  font-size: 20px;
}

.deleteButtonGroup {
  width: 100%;
  display: flex;
  justify-content: center;
}

.confirmButton {
  padding: 5px 20px;
  margin: 5px 25px 5px 0px;
  width: 90px;
  border: 1px solid black;
  &:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  }
}

.cancelButton {
  padding: 5px 20px;
  margin: 5px 0;
  width: 90px;
  &:hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  }
}
