.select {
  width: 50px;
  height: 30px;
}

.addProduct {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: black;
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
  cursor: pointer;
}

.notesArea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

.editContainer {
  @include mobile {
    position: relative;
  }
}

.deleteAlert {
  position: absolute;
  width: 390px;
  background: #fff;
  height: 380px;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  @include mobile {
    width: 100%;
  }
}

.deleteText {
  background-color: white;
  padding: 50px;
  font-size: 20px;
  color: red;
}

.deleteButtonGroup {
  width: 100%;
  display: flex;
  justify-content: center;
}

.deleteButton {
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
}

.deleteButton:first-child {
  margin-right: 20px;
}

.deleteButton:last-child {
  background-color: blue;
  color: white;
  border: 0;
}
