.shoppingLogo {
  width: 20px;
  height: 20px;
}

.btn {
  background-color: #000;
  color: #fff;
  padding: 4px 10px;
  position: relative;
}

.haveOrderIcon {
  width: 22px;
  height: 22px;
  background-color: red;
  position: absolute;
  top: -11px;
  left: -8px;
}
