@mixin mobile {
  @media (max-width: 740px) {
    @content;
  }
}

@import "../components/Products/index.scss";
@import "../components/CustomPopup/index.scss";
@import "../components/CreateAndEditOrder/index.scss";
@import "../components/ShoppingCard/index.scss";
@import "../components/Header/index.scss";
@import 'Common';

.app {
  width: 700px;
  margin: 0 auto;

  @include mobile {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
