/* margin */
.mp0 {
  padding: 0;
  margin: 0;
}

.ml-10 {
  margin-left: 10px;
}

.ml-8 {
  margin-left: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mv-2 {
  margin: 2px 0;
}

.mv-10 {
  margin: 10px 0;
}

/* padding */

.ph-5 {
  padding: 0 5px;
}

/* font-size */

.t-16 {
  font-size: 16px;
}

.t-20 {
  font-size: 20px;
}

/* color */

.t-g-80 {
  color: #4e535a;
}

.t-w-100 {
  color: #fff;
}

/*  background-color */

.bg-b {
  background-color: black;
}

/* border-radius */

.br-c {
  border-radius: 50%;
}

.br-15 {
  border-radius: 15px;
}

/* width */

.w-30 {
  width: 30px;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

/* display: block */

.db {
  display: block;
}

/* cursor: pointer; */

.cursor {
  cursor: pointer;
}

/* flex */

.f-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-s {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.f-w-c {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

/* ellipsis */

.ellipsis {
  width: 90%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.single-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* container */

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include mobile {
    width: 100%;
  }
}
