$gray-30: #e0e0e0;
$gray-80: #4e535a;
$white-100: #fff;
$red-100: #ff0000;
$blue-100: #0000ff;
$black-100: #000;

.btn {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  margin: 25px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  border: 1px solid black;
}

.btn:disabled {
  cursor: auto;
  background-color: #c1bcbc;
  border: 1px solid #c1bcbc;
}

/* margin */
.mp0 {
  padding: 0;
  margin: 0;
}

.ml-10 {
  margin-left: 10px;
}

.ml-8 {
  margin-left: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mv-2 {
  margin: 2px 0;
}

.mv-5 {
  margin: 5px 0;
}

/* padding */

.ph-5 {
  padding: 0 5px;
}

/* font-size */

.t-12 {
  font-size: 12px;
}

.t-16 {
  font-size: 16px;
}

.t-20 {
  font-size: 20px;
}

/* color */

.t-gray-80 {
  color: $gray-80;
}

.t-white-100 {
  color: $white-100;
}

.t-red-100 {
  color: $red-100;
}

.t-black-100 {
  color: $black-100;
}

/*  background-color */

.bg-gray {
  background-color: $gray-30;
}

.bg-black {
  background-color: $black-100;
}

.bg-blue {
  background-color: $blue-100;
}

.bg-white {
  background-color: $white-100;
}

.bg-red {
  background-color: $red-100;
}

/* border-radius */

.br-c {
  border-radius: 50%;
}

.br-15 {
  border-radius: 15px;
}

/* width */

.w-30 {
  width: 30px;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

/* display: block */

.db {
  display: block;
}

/* cursor: pointer; */

.cursor {
  cursor: pointer;
}

/* text-align */
.ta-c {
  text-align: center;
}

/* flex */

.f-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-s {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.f-w-c {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

/* ellipsis */

.ellipsis {
  width: 90%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.single-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* container */

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include mobile {
    width: 100%;
  }
}
